.container{
	margin: 0 auto;
}
.container .nav{
	background-color: #47464a;
}
.nav ul{
	margin: 0 auto;
	height: 60px;
	text-align: center;
	line-height: 60px;
}
.nav ul li{
	margin: 0 auto;
	padding: 0 40px;
	display: inline-block;
}
.nav ul li a{
	font-size: 16px;
}
.nav ul .red{
	color: #ef4832;
}
.nav ul li a:hover{
	color: #fff;
}

.container section nav{
	box-sizing: border-box;
	width: 1120px;
	margin: 40px auto 0;
	padding: 0 20px;
	border: 1px solid #e5e5e5;
}
.tags{
	padding: 10px 0;
	
}
.tags span{
	float: left;
	color: #999;
}
.tags ul{
	margin-left: 40px;
	font-size: 14px;
	
}
.tags a{
	color: #333;
}
.tags a:hover{
	color: #ef4238;
}
.tags ul li{
	display: inline-block;
	border-radius: 14px;
	padding: 3px 9px;
	margin-left: 12px;
	height: 20px;
	line-height: 20px;
}
.total{
	background-color: #f34d41;
	color: #fff;
}
.tags-border{
	border-bottom: 1px dotted #e5e5e5;
}

.movies-box-outside{
	padding-top: 40px;
}
.movies-box{
	width: 1120px;
	margin: 20px auto 0;
}
.movies-box dl dd{
	display: inline-block;
	margin: 30px 0 0 20px;
}
.movies-box-top{
	position: relative;
	border: 1px solid #efefef;
}
.movies-box-top div{
	position: absolute;
}
.movies-box-top img{
	width: 160px;
	height: 220px;
}
.movies-box-center{
	width: 160px;
	text-align: center;
	color: #333;
	margin-top: 10px;
}
.movies-box-bottom{
	color: #ffb400;
	width: 160px;
	margin-top: 10px;
	text-align: center;
	font-size: 24px;
	font-style: italic;
}
footer{
	width: 1120px;
	margin: 0 auto;
	text-align: center;
}
footer ul li{
	display: inline-block;
	height: 30px;
	margin: 0 4px;
	border: 1px solid #d8d8d8;
	line-height: 30px;
	text-align: center;
	padding: 0 12px;
	color: #333;
}
footer ul li:hover{
	border-color: #ef4238;
}
ul .active{
	background-color: #ef4238;
	color: #fff;
}