.hea {
    margin-left: 450px;
    padding: 8px;
    padding-top: 40px;
    color: #666;
    max-width: 900px;
}

.hea a {
    color: black;
    text-decoration: none;
}

.hea a:hover {
    color: darkorange;
}

.hea .link li {
    width: 16%;
    float: left;
    font-size: 30px;
    padding: 10px 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-align: center;
}

.hea .link li a {
    display: block;
}

.hea .link li .b {
    padding-bottom: 20px;
    font-size: 45px;
}

.slider-wrapper {
    padding-top: 80px;
    padding-left: 25px;
}

.slider-wrapperl {
    padding-top: 20px;
    padding-left: 25px;
}

.mdd_silde {
    overflow: hidden;
    margin-top: 10px;
    overflow: hidden;
}

.mdd_silde li {
    float: left;
    width: 20%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.mdd_silde li a {
    display: block;
    padding-right: 3px;
}

.mdd_silde img {
    width: 100%;
}

.mdd_silde span {
    height: 30px;
    padding: 3px 6px;
    line-height: 30px;
    font-size: 13px;
    color: red;
    position: absolute;
    left: 10px;
    bottom: 120px;
}

.al {
    padding-left: 2%;
}

.al li {
    float: left;
    width: 20%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    padding-right: 50px;
}

.al li a {
    display: block;
    padding-right: 30px;
}

.pl {
    padding-left: 2%;
}

.pl li {
    float: left;
    width: 20%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    padding-right: 50px;
}

.pl a {
    color: red;
}

.pl li a {
    display: block;
    padding-right: 30px;
}
