body, ul, p, h1, h2, h3, dl, dt, dd, li, input, textarea, button { 	
	margin: 0;
	padding: 0;
	word-break: break-all;
}

body {
	text-align: left;
	font-family: arial, helvetica, sans-serif;
	background-color: #FFF;
	font-size-adjust: none;
	-webkit-text-size-adjust: none;
}

ul, li, dl, dt, dd {
	list-style: none;
}

a, a:visited {
	text-decoration: none;
	color: #666;
	outline: 0;
}

input, textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

ul, li, dl, dt, dd {
	list-style: none;
}

em,
i {
	font-style: normal;
}

img {
	vertical-align: middle;
}

.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
