.q {
	margin-top: 20px;
	margin: 20px auto 0px;
	width: 60%;
}

.q .w {
	height: 70px;
	width: 530px;
	padding: 2px 6px;
	line-height: 70px;
	font-size: 40px;
	color: white;
	position: absolute;
	background: red;
	border-radius: 15px;
	left: 0px;
	right: 0px;
	margin: auto;
	text-align: center;
}

.slider-wrapper {
	width: 55%;
	margin: 0 auto;
	padding-top: 120px;
}

.mdd_silde {
	overflow: hidden;
	margin-top: 10px;
	overflow: hidden;
}

.mdd_silde li {
	float: left;
	width: 20%;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
}

.mdd_silde li a {
	display: block;
	padding-right: 5px;
}

.mdd_silde img {
	width: 100%;
}

.mdd_silde span {
	height: 30px;
	padding: 3px 6px;
	line-height: 30px;
	font-size: 13px;
	color: blue;
	position: absolute;
	left: 10px;
	bottom: 120px;
	background: yellow;
}

.introduce ul {
	width: 55%;
	margin: auto;
}

.introduce span {
	display: block;
	width: 20%;
	float: left;
}

.fia {
	left: 3%;
	position: relative;
}

.fia li {
	float: left;
	width: 20%;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	font-size: 12px;
}

.fia li a {
	display: block;
	padding-right: 30px;
}

.Foot {
	margin: 0 auto;
	padding-bottom: 120px;
	padding-top: 120px;
	color: #666;
	max-width: 800px;
}

.Foot a {
	color: black;
	text-decoration: none;
}

.Foot li{
	float: left;
	margin-left: 10px;
}

.Foot a:hover {
	width: 10%;
	float: left;
	font-size: 15px;
	padding: 10px 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	text-align: center;
}

.Foot .link li a {
	display: block;
}