* {
	color: black;
}

/* 选中所有具有href属性的元素 */
/* [href] {
	color: #008c8c;
} */
/* 选中href中值相等的元素 */
/* [href="https://baidu.com/"] {
	color: #008c8c;
}
 */
/* 这是一个伪类选择器: 选中鼠标悬停时的a元素 */
/* a:hover {
	color: red;
} */

/* 这是鼠标按下去的a元素 */
/* a:active{
	color: blue; 
}

a:link{
	color: chocolate;
}

a:visited{
	color: black;
} */

/* 这是一个伪类选择器 */
/* span::before{
	content: "《";
	color: red;
} */
/* 这是一个伪类选择器 */
/* span::after{
	content: "》";
	color: red;
} */
p{
	text-indent: 2em;
	line-height: 1.5;
}
/* 必须是p元素，并且class=“red” */
p.red{
	color: red;
}
/* 选中red类中的后代元素li */
/* .red li{
	color: #008c8c;
} */

.special{
	color: red;
}
/* 这是一个相邻兄弟选择器 */
/* li的类special，下一个li元素 */
/* .special+li{
	color: blue;
} */
/* 这是一个兄弟选择器 */
/* .special~li{
	color: blue;
} */
/* 这里的选择器是并列的 */
.special~li, p{
	color: #008c8c;
}
