@import url(reset.css);
@import url(common.css);

/* 首页通用样式 开始 */
.container{
    width: 950px;
    margin: 0 auto;
}

.left{
    float: left;
}

.right{
    float: right;
}

/* 首页通用样式 结束 */

/* header开始 */
.header{
    height: 90px;
    padding-top: 30px;
    box-sizing: border-box;
}

.header .logo a{
    width: 154px;
    height:0px;
    padding-top: 30px;
    overflow: hidden;
    display: block;
    background: url(../img/logo_db.png) no-repeat left top/100%;
}

.header .search{
    width: 270px;
    height: 30px;
    border: 1px solid #c3c3c3;
    margin-left: 20px;
    position: relative;
}

.header .search .txt{
    width: 240px;
    height: 20px;
    padding: 5px;
    font-size: 13.3333px;
}

.header .search .txt::placeholder{
    color: #ccc ;
}

.header .search button{
    position:absolute;
    width: 30px;
    height: 30px;
    top: 0px;
    right: 5px;
    color: #c3c3c3;
}

.header .menu{
    padding-top: 6px;
}

.header .menu a{
    background: url("../img/nav_logo.png") no-repeat top left/463px 20px;
    width: 40px;
    float: left;
    margin-left: 20px;
    
    /* 去掉a元素的中的注释 */
    padding-top: 20px;
    height: 0px;
    overflow: hidden;
}

.header .menu .menu-read{
    background-position: 0px 0px;
}
.header .menu .menu-movie{
    background-position: -60px 0px;
}
.header .menu .menu-music{
    background-position: -120px 0px;
}
.header .menu .menu-group{
    background-position: -180px 0px;
}
.header .menu .menu-city{
    background-position: -240px 0px;
}
.header .menu .menu-fm{
    background-position: -300px 0px;
}
.header .menu .menu-time{
    background-position: -360px 0px;
}
.header .menu .menu-doupin{
    background-position: -420px 0px;
    width: 44px;
}
/* header结束 */

/* 登录区域 开始 */

.banner{
    height: 300px;
    background-color: rgb(237 244 237);
}

.banner .bn-content{
    width: 950px;
    margin: 0px auto;
}

.banner .bn-content .bn-bg{
    background: url("../img/banner-bg.jpg") no-repeat 0px 0px/auto 300px;
    height: 300px;
    margin-left: -17%;
}

.banner .bn-content .login{
    float: right;
    position: relative;
}

.banner .bn-content .login-area{
    display: none;
}

.banner .bn-content .login-area.login-start{
    float: right;
    width: 300px;
    padding: 10px;
    padding-top: 30px;
    box-sizing: border-box;
    display: block;
    font-size: 12px;
    color: #9b9b9b;
}

.banner .login-area>div:nth-child(n){
    margin-bottom: 13px;
}

.banner .bn-content .login-area .title{
    line-height: 2;
    /* margin-bottom: 10px; */
}

.banner .bn-content .login-area .title ul li{
    float: left;
    width: 140px;
    text-align: center;
    cursor: pointer;
}

.banner .bn-content .login-area .title ul li.on{
    border-bottom: 2px solid #494949;
    font-weight: bold;
    color: #494949;
}

.banner .bn-content .login-area .explain a{
    color: #41ac52;
}

.banner .bn-content .login-area .phone, .banner .bn-content .login-area .code{
    background: #fff;
    height: 33px;
}

/* 密码登录 开始 用on打开 */
.pass-login>div:nth-child(n){
    margin-bottom: 13px;
}

.banner .bn-content .login .pass-login{
    margin-bottom: 0px;
}

.banner .login .login-area{
    position: relative;
}

.pass-login{
    display: none;
}

.pass-login.on{
    position: absolute;
    width: 280px;
    background-color: rgb(237 244 237);
    top: 69px;
    left: 10px;
    display: block;
}

.pass-login .explain{
    text-align: right;
}


/* 密码登录 结束 */

.banner .login .phone{
    position: relative;
    border: 1px solid #e4e6e5;
    border-radius: 3px;
    width: 280px;
}

.banner .login .phone .phone-area{
    width: 51px;
    height: 33px;
    line-height: 36px;
    text-align: center;
    position: absolute;
    font-size: 15px;
    font-weight: 700;
    color: #333;
    cursor: pointer;
}

.banner .login .phone input{
    width: 221px;
    height: 33px;
    box-sizing: border-box;
    margin-left: 58px;

}

.banner .login .phone .phone-area::after{
    content: "";
    display: block;
    height: 22px;
    border-right: 1px solid #dfdfdf;
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
    right: 0px;
}

.banner .login .code{
    border: 1px solid #e4e6e5;
    border-radius: 3px;
    width: 280px;
}

.banner .login .code input{
    height: 33px;
    padding-left: 10px;
    width: 183px;
}

.banner .login .code .get-code{
    float: right;
    width: 85px;
    padding: 0 10px;
    box-sizing: border-box;
}

.banner .login .code .get-code a{
    line-height: 33px;
    color: #41ac52;
    font-size: 13px;
}

.banner .login .button{
    background: #41ac52;
    height: 34px;
    width: 280px;
    border-radius: 3px;
    color: #fff;
    font-size: 15px;
    margin-bottom: 15px;
    border: 1px solid #41ac52;
}

.banner .login .no-code{
    text-align: right;
    color: #41ac52;
    border-bottom: 1px solid #ddd;
    padding-bottom: 12px;
    margin-bottom: 0px;
}

.banner .login .other{
    position: relative;
    margin: 0px auto 0px;
}

.banner .login .other .icon{
    position: absolute;
    left: 70px;
    top: -6px;
    margin-left: 12px;
}

.banner .login .other .icon .weibo{
    font-size: 22px;
    color: #f27272;
    margin-left: 12px;
}

.banner .login .other .icon .wechar{
    font-size: 22px;
    color: #64c574;
}

.banner .login .app{
    position: absolute;
    top: 100px;
    left: -167px;
}
.banner .login .app .app-title{
    font-size: 25px;
    line-height: 24px;
    color: #111;
}

.banner .login .app .app-download{
    margin-top: 25px;
    position: relative;
}

.banner .login .app .app-download .download-btn{
    width: 115px;
    height: 30px;
    display: block;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    background-color: #00B51D;
    box-sizing: border-box;
    color: #fff;
    border-radius: 2px;
}

.banner .login .app .app-download .QR{
    border: 1px solid #48aa0d;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 2px;
    color: #00b51d;
    line-height: 28px;
    text-align: center;
    position: absolute;
    top: 0px;
    right: -35px;
}

.banner .login .app .app-download .QR i{
    font-size: 26px;
}

.banner .login .app .app-download .QR .qrcode{
    display: none;
}

.banner .login .app .app-download .QR .qrcode.open{
    padding: 20px 20px 5px;
    background-color: #fff;
    border-radius: 1px;
    position: absolute;
    top: -1px;
    left: -1px;
    display: block;
}
.banner .login .app .app-download .QR .qrcode img{
    width: 160px;
    height: 160px;
    display: block;
}

.banner .login .app .app-download .QR .qrcode p{
    font-size: 13px;
    margin: 13px 0px;
    color: #666;
}

/* 登录区域 结束 */
